# Tools used for testing
docopt-ng
mypy==1.13.*
pyright

# Typed libraries and stubs
matplotlib>=3.8
pandas-stubs
pytest
scipy-stubs
typing_extensions

# Untyped libraries, used to prevent "reportMissingImports" and get inferred typing
joblib
networkx
PyOpenGL
scikit-learn
sympy
traitlets
transformers
transformers
