# Tools used for testing
docopt
mypy==1.13.*
pyright

# Typed libraries and stubs
matplotlib>=3.8
pytest
scipy-stubs
typing_extensions

# Untyped libraries, used to prevent "reportMissingImports" and get inferred typing
joblib
networkx
PyOpenGL
scikit-image
scikit-learn
transformers
vispy
numpydoc
pyamg
traitlets
